a.video-play-btn {
    position: absolute;
    background-color: var(--tsuaqua-brand-color-primary, rgba(150, 150, 150, 1));
    color: var(--tsuaqua-background-dark);
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 92px;
    border-radius: 50%;
    font-size: 20px;
    padding-left: 5px;
    display: block;
    z-index: 2;
    top: 50%;
    margin-top: -45px;
    box-shadow: 0 0 20px #adadad;
    left: 50%;
    margin-left: -45px;
  }

  .abt-bg {
    background-image: url(../../img/about-image.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .abt-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--tsuaqua-background-dark);
    opacity: 0.3;
  }

  .abt-section .abt-text {
    padding: 0px 0px 50px 50px;
    padding-left: 30px;
  }

  .abt-text p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .abt-text p.top-sub {
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .abt-text p:last-child {
    margin-bottom: 0;
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {


    a.video-play-btn {
      right: 51%;
    }
  }