.hero-area {
  height: 100vh;
  top: 0px;
  position: relative;
  z-index: 1;
}

.hero-bg {
  background-image: url(../../img/hero-bg.png);
  background-size: cover;
  background-position: center;
}

.hero-text {
  display: table;
  height: 100%;
}

.hero-text-tablecell {
  display: table-cell;
}



html, body {
  height: 100vh;
}

.hero-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--tsuaqua-brand-color-primary);
  z-index: -1;
  opacity: 0.6;
}

.hero-text p.subtitle {
  color: var(--tsuaqua-brand-color-primary);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.hero-area div {
  height: 100%;
}

.hero-area div.hero-text {
  height: 100%;
  width: 100%;
}

.hero-area div.hero-text-tablecell {
  height: auto;
  vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
  height: auto;
  vertical-align: middle;
}

.hero-btns {
  margin-top: 35px;
}

.hero-btns a.bordered-btn {
  margin-left: 15px;
}

.hero-area div.hero-form {
  background-color: #fff;
  text-align: center;
  width: 380px;
  margin: 0 auto;
  margin-right: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #2d2d2d;
  box-shadow: 0 0 15px #2d2d2d;
  position: absolute;
  right: 30px;
  bottom: -15%;
  height: 600px;
}

input[type="submit"] {
  background-color: var(--tsuaqua-brand-color-primary);
  color: var(--tsuaqua-background-dark);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 3px;
}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.hero-area div.hero-form {
	    margin: 0 auto;
	    right: auto;
	    width: 380px;
	    left: 50%;
	    margin-left: -190px;
	}

	.hero-btns {
	    text-align: center;
	}

	.hero-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 15px;
	    display: block;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.hero-text h1 {
	    font-size: 45px;
	}

}